@use "../utils/colors" as *;

.details {
  display: flex;
  justify-content: space-between;
  width: clamp(300px, 50vw, 750px);
  margin: 0 auto;
  /* border-top: 1px solid $primaryColor; */
  border-bottom: 1px solid $primaryColor;
  div {
    grid-area: text;
    max-width: 80%;
    overflow: hidden;
  }

  &__button {
    grid-area: button;
    color: $primaryColor;
  }
}
