.carousel {
  display: flex;
  align-items: center;
  width: fit-content;
  max-width: 90vw;
  position: relative;
  margin: 0 auto;

  &__images {
    display: flex;
    background-color: orange;
    overflow: hidden;
  }
  button {
    z-index: 300;
    height: fit-content;
    width: fit-content;
    background: none;
    border: none;

    &:first-of-type {
      position: absolute;
      left: -5vw;
    }
    &:last-of-type {
      position: absolute;
      right: -5vw;
    }
  }
}
