@use "sass:map";
@use "../utils/baseValues" as *;
@use "../utils/colors" as *;

@mixin review($accentColor: $primaryColor) {
  width: clamp(300px, 50vw, 500px);
  padding: 2vh 2vw;
  /* background-color: $primaryColor; */
  border: 1px solid $accentColor;
  &__quotation {
    font-size: map.get($fontSizes, s);
    margin: 0 5px;
    color: $neutralMedium;
  }

  &__body {
    font-style: italic;
  }

  &__author {
    font-weight: 700;
    margin-top: 1vh;
    color: $accentColor;
  }
}

.review {
  @include review;
}
