@use "../utils/colors" as *;
.theme {
  &--light .theme-button {
    color: $neutralLight;
    background-color: $neutralDark;
  }
  &--dark .theme-button {
    color: $neutralDark;
    background-color: $neutralLight;
  }
}
