@use "../utils/mixins" as *;
@use "../utils/colors" as *;

$toggleWidth: 25px;
$togglePadding: calc($toggleWidth / 5);

.toggle-button {
  display: flex;
  background-color: $primaryColor;
  border-radius: calc($toggleWidth / 2 * 3);
  margin: 10vh auto;
  display: block;

  &--true {
    @extend .toggle-button;
    padding: $togglePadding $toggleWidth $togglePadding $togglePadding;
    background-color: $primaryColor;
    &:hover {
      background-color: $primaryColor;
      border-color: $primaryColor;
    }
    &:focus {
      background-color: $primaryColor;
      border-color: $primaryColor;
    }
  }
  &--false {
    @extend .toggle-button;
    padding: $togglePadding $togglePadding $togglePadding $toggleWidth;

    background-color: $neutralLight;
    &:hover {
      background-color: $neutralDark;
      border-color: $neutralDark;
    }
    &:focus {
      background-color: $neutralDark;
      border-color: $neutralDark;
    }
  }
  &__switch {
    height: calc($toggleWidth - $togglePadding);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    &--true {
      @extend .toggle-button__switch;
    }
    &--false {
      @extend .toggle-button__switch;
      background-color: $primaryColor;
    }
  }
}
